<div class="container px-5">
  <h1 class="title mt-4 font-weight-bold">Blog Feed</h1><hr>

<div class="mt-4">
  <button mat-raised-button *ngIf="!newPost" (click)="newBlockForm()">New Post</button>&nbsp;&nbsp;
  <button mat-flat-button color="warn" [disabled]="loadingBload"  (click)="reloadBlogs()" *ngIf="!newPost"><mat-icon>refresh</mat-icon>Reload</button>
</div>

    <!-- Blog Form -->

    <mat-card class="example-card" style="margin: 5px auto;" *ngIf="newPost">
      <mat-card-content>
        <form [formGroup]="formBlog" (ngSubmit)="onBlogSubmit()" class="form mt-3" >
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" formControlName="title">
          </div>

          <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control" name="body" rows="10" placeholder="Body" formControlName="body"></textarea>
          </div>

          <button mat-raised-button color="warn" (click)="goBack()">Go Back</button>&nbsp;
          <button mat-raised-button type="submit" [disabled]="!formBlog.valid">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>



    <!-- Post Form -->
    <div *ngIf="!newPost">
      <div class="card mt-3" *ngFor="let blog of blogPost">
        <!-- <div > -->
          <div class="card-header bg-primary text-white">
            <span>{{blog.title}}</span >
          </div>
          <div class="card-body">
            <p class="card-text">{{blog.body}}</p>
          </div>
          <div class="card-footer">
            <p><i class="text-dark font-weight-bold">Posted by: &nbsp;</i>{{blog.createdBy}}</p>
            <p><i class="text-dark font-weight-bold">Date: &nbsp;</i>{{blog.createdAt | date: 'MMM dd, yyyy'}}</p>
          <div *ngIf="username === blog.createdBy">
            <p><i class="text-dark font-weight-bold">Liked: &nbsp;</i>{{blog.likes}}</p>
            <p><i class="text-dark font-weight-bold">Dislikes: &nbsp;</i>{{blog.dislikes}}</p>

          </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-sm">Edit</button>
              <button type="button" class="btn btn-danger btn-sm ml-2">Delete</button>

                <div class="dropdown ml-2">
                  <button class="btn btn-success" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    <mat-icon>thumb_up_alt</mat-icon> Likes: 25
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">peter</a>
                    <a class="dropdown-item" href="#">john</a>
                    <a class="dropdown-item" href="#">samejohn</a>
                  </div>
                </div>

                <div class="dropdown ml-2">
                  <button class="btn btn-warning" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    <mat-icon class="icon">thumb_down_alt</mat-icon> Dislikes: 22
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">james</a>
                    <a class="dropdown-item" href="#">carson</a>
                    <a class="dropdown-item" href="#">ruby</a>
                  </div>
                </div>
            </div>
          </div>

            <!-- footer End -->

            <ul class="list-group">
              <li class="list-group-item">
                <button type="button" name="button" class="btn btn-md btn-danger" (click)="draftComment()">Post Comment</button><br>
                <!-- <form action="">
                    <textarea id="comment" class="form-control" name="comment" rows="10"></textarea><br>
                    <button type="button" name="button" class="btn btn-primary btn-md">Submit Post</button>
                    <button type="button" name="button" class="btn btn-danger btn-md ml-2">Cancel</button>
                </form> -->
              </li>
              <!-- <li class="list-group-item">Disabled item</li> -->
            </ul>
        <!-- </div> -->

      </div>
    </div>

</div>
