<div class="container my-3" style="font-family: Arial, Helvetica, sans-serif;">
  <div class="jumbotron text-center">
    <h1 class="display-4 jtitle">MEAN Stack Application</h1>
    <h4 class="lead">Welcome to the MEAN Stack Application by <span class="dev">Min Khant Hein</span >  </h4>
    <!-- <button class="btn btn-primary btn-small mt-2" routerLink ="/register">Register</button> &nbsp;
    <button class="btn btn-light btn-small mt-2" routerLink ="/login">Login</button> -->
    <button mat-raised-button color="primary" routerLink ="/register" *ngIf="!authService.LoggedIn()">Register</button>&nbsp;
    <button mat-raised-button color="warn" routerLink ="/login" *ngIf="!authService.LoggedIn()">Login</button>&nbsp;
    <button mat-raised-button color="warn" routerLink ="/blog" *ngIf="authService.LoggedIn()">View Blog</button>
  </div>

    <div class="row 1 ml-3">
      <div class="col-md-4 col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/nodejs.png" class="card-img-top w-75" style="margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Nodejs</h5>
            <p class="card-text">Node.js is an open-source, cross-platform, back end, JavaScript runtime environment.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/learning.png" class="card-img-top w-75" style="margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Expressjs</h5>
            <p class="card-text">Express.js, or simply Express, is a back endweb application frameworkfor Node.js.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/programmer.png" class="card-img-top w-75" style="margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">MongoDB</h5>
            <p class="card-text"> MongoDB is a cross-platform document-oriented database program. Classified as MongoDB.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="row ml-3">
      <div class="col-md-4 col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/cloud-storage.png" class="card-img-top w-75" style="margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Angularjs</h5>
            <p class="card-text">AngularJS is MEAN stack, consisting of MongoDB database, Express.js , Angular and Node.js .</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/cloud-computing.png" class="card-img-top w-75" style="margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">MySQL</h5>
            <p class="card-text">MySQL is an open-source relational database management system. Its name is database.</p>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 mt-3">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/machine-learning.png" class="card-img-top w-75" style="margin: 0 auto;">
          <div class="card-body">
            <h5 class="card-title">Reactjs</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>





